<section
  class="professionals-value-feature__cta"
  aria-labelledby="gastronomic-nutrition-cta-title"
>
  <img
    src="/assets/images/gallery/espai-gastronomic/espai_gastronomic_bg.jpg"
    alt="Paisatge del Montseny"
    class="professionals-value-feature__cta-image"
  />
  <div class="professionals-value-feature__cta-overlay"></div>

  <div class="professionals-value-feature__cta-content block-content-style">
    <h3
      id="gastronomic-nutrition-cta-title"
      class="professionals-value-feature__cta-title hero-title-elegant light"
    >
      CUIDA'T AMB EL SABOR DE SEMPRE.
    </h3>

    <p class="professionals-value-feature__cta-text hero-text-body light">
      Si busques una dieta equilibrada i de proximitat, la castanya es la teva
      millor aliada. Consulta les nostres receptes saludables i comenca a
      gaudir-ne avui mateix.
    </p>

    <div class="professionals-value-feature__cta-actions">
      <a
        href="/gastronomic/receptes/"
        class="professionals-value-feature__cta-button professionals-value-feature__cta-button--primary"
        >VEURE RECEPTES SALUDABLES</a
      >
    </div>
  </div>
</section>

<div class="newsletter-bar">
  <div class="footer-container flex-newsletter">
    <p class="newsletter-text">
      Uneix-te al nostre butlleti per estar al dia de nous productes i
      activitats a mes de rebre descomptes
    </p>
    <div class="newsletter-form">
      <input type="email" class="newsletter-input-field" placeholder="" />
      <button type="submit" class="btn-newsletter-submit">AFEGEIX-ME!</button>
    </div>
  </div>
</div>
