{% set lang = page.url | pageLang %}
<section class="footer-cta-section footer-cta-section--gastronomic">
  <img
    src="/assets/images/gallery/espai-gastronomic/espai_gastronomic_bg.jpg"
    alt="{{ i18n[lang].gastroCtaImgAlt }}"
    class="cta-bg-img"
  />
  <div class="cta-overlay cta-overlay--gastronomic"></div>
  <div class="cta-content cta-content--gastronomic block-content-style">
    <h2 class="cta-title cta-title--gastronomic">
      {{ i18n[lang].gastroCtaTitle }}
    </h2>
    <p class="cta-text cta-text--gastronomic cta-text--gastronomic-lead">
      {{ i18n[lang].gastroCtaText1 }}
    </p>
    <p class="cta-text cta-text--gastronomic">
      {{ i18n[lang].gastroCtaText2 }}
    </p>
    <a
      href="{% if lang == 'es' %}/es/contact/{% else %}/contact/{% endif %}"
      class="btn-olive-transparent btn-olive-transparent--gastronomic"
      >{{ i18n[lang].gastroCtaButton }}</a
    >
  </div>
</section>

{% include "footer-newsletter-home.html" %}
