<div class="newsletter-bar">
  <div class="footer-container flex-newsletter flex-newsletter--home">
    <div class="newsletter-copy newsletter-copy--home">
      <h2 class="newsletter-heading">BUTLLETI</h2>
      <p class="newsletter-text">
        Uneix-te al nostre butlleti per estar al dia de nous productes i
        activitats a mes de rebre descomptes
      </p>
    </div>
    <div class="newsletter-form newsletter-form--home">
      <input
        type="email"
        class="newsletter-input-field newsletter-input-field--home"
        placeholder="correu@exemple.com"
      />
      <button
        type="submit"
        class="btn-newsletter-submit btn-newsletter-submit--home"
      >
        AFEGEIX-ME!
      </button>
    </div>
  </div>
</div>
